
.wd-modules {
    margin: 5px;
}

.wd-modules > li {
    background-color: lightgray;
    border: 1px solid gray;
    margin-bottom: 20px;
}

.wd-modules > li > div {
    padding: 6px;
    border-left: 1px solid gray;
}

.wd-modules > li > ul > li {
    padding: 5px;
    border-top: 1px solid gray;
    border-left: 2px solid green;
}

/* Responsive design adjustments */
@media (max-width: 991px) {
    .wd-navigation, .wd-kanbas-navigation {
        display: none;
    }
}

@media (max-width: 767px) {
    .flex-grow-0 {
        display: none;
    }
}
